<table class="control">
    <tr>
            <button id="connect-button" style="display: none;">Connect</button>
            <input type="text" id="sendMessageBox" placeholder="Enter a message..." autofocus="true" />
            <button type="button" id="sendButton">Send</button>
    </tr>
    <tr>
        <td><div id="status" class="status"></div></td>
        <td><div class="message" id="message"></div></td>
    </tr>
</table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/0.3.18/peer.min.js"></script>
<script type="text/javascript" src="../js/p2p.js"></script>