<!DOCTYPE html>
<html lang="pt-br">

<head>
  <% include ../partials/head.ejs %>
</head>

<body>
        <div class="container">
            <div class="col-md-12">
                <h2 id="ola">Crie seu remédio</h2>
            </div>
            <hr>
    
            <div class="form-group row">
                <div class="col-3">
                    <label for="example-text-input" class="col-2 col-form-label">Nome</label>
                    <input class=" qt form-control" type="text" id="example-text-input">
                </div>
            </div>
    
            <div class="form-group col-md-3">
                    <label for="exampleSelect1">Origem</label>
                    <select class="form-control" id="exampleSelect1">
                      <option>Natural</option>
                      <option>Vegetal</option>
                      <option>Animal</option>
                      <option>Mineral</option>
                      <option>Sintético</option>
                    </select>
            </div>
    
            <div class="form-group col-md-3">
                    <label for="exampleSelect1">Local da ação</label>
                    <select class="form-control" id="exampleSelect1">
                      <option>Local</option>
                      <option>Sistêmica</option>
                    </select>
            </div>
    
            <div class="form-group col-md-3">
                    <label for="exampleSelect1">Via administração</label>
                    <select class="form-control" id="exampleSelect1">
                      <option>Parental</option>
                      <option>Enteral</option>
                    </select>
            </div>
    
    
            <a href="../home/home.html"><button type="button" class=" qt btn btn-secundary" >Voltar</button></a>
    
            <button type="button" class=" btn btn-success">Criar remédio</button>
    
        </div>
    </body>

</html>