<!DOCTYPE html>
<html lang="pt-br">

<head>
  <% include ../partials/head.ejs %>
</head>

<body id="body-loaded">
        <div class="container">
            <div class="col-md-12">
                <h2 id="ola">Envie seu remédio</h2>
            </div>
            <hr>
            
            <form class="col-md-4" name="posta" id="formUrl" method="post" target="_self">
                <input type="hidden" style="display: none;" id="currentSharedData">
                <div class="form-group col-md-3">
                    <label for="exampleSelect1">Remédio</label>
                    <select class="form-control" id="exampleSelect1">
                        <option>Dorflex</option>
                        <option>Dipirona</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="form-group row">
                    <div class="qt col-3">
                        <label for="exampleSelect1">Quantidade</label>
                        <input class="form-control" type="number" value="0" id="example-number-input">
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label for="exampleSelect1">Destinatário</label>
                    <select class="form-control" id="exampleSelect1">
                        <option>Algum</option>
                        <option>Dest 2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <a href="/"><button type="button" class=" qt btn btn-secundary" >Voltar</button></a>
                <button type="submit" class="btn btn-success">
                    Enviar remédio
                </button>
            </form>            
        </div>

        <script>
            // lá no tratamento do post transforma em json
            // executa os métodos para atualizar o blockchain e lista de remédios
            var currentSharedData = localStorage.getItem("currentSharedData");
            $("#currentSharedData").val(currentSharedData);
        </script>

        <% include ../partials/p2pAction.ejs %>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>