<!DOCTYPE html>
<html lang="pt-br">

<head>
  <% include ../partials/head.ejs %>
</head>

<body>
        <div class="container">
            <div class="col-md-12">
                <h2 id="ola">Meu Estoque de Medicamentos</h2>
            </div>
            <hr>
    
            <div id="list" class="row">
     
                    <div class="table-responsive col-md-12">
                        <table class="table table-striped" cellspacing="0" cellpadding="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>Quantidade</th>
                                    <th class="actions">Ações</th>
                                 </tr>
                            </thead>
                            <tbody>
                 
                                <tr>
                                    <td>1001</td>
                                    <td>Dipirona</td>
                                    <td>45</td>
                                   
                                    <td class="actions">
                                        <a class="btn btn-success btn-xs" href="view.html">Visualizar</a>
                                       
                                        <a class="btn btn-danger btn-xs"  href="#" data-toggle="modal" data-target="#delete-modal">Excluir</a>
                                    </td>
                                </tr>
                 
                            </tbody>
                         </table>
                 
                     </div>
                 </div> <!-- /#list -->
    
        <a href="/"><button type="button" class=" btn btn-secundary" >Voltar</button></a>
    
    
        </div>
    </body>

</html>