<!DOCTYPE html>
<html lang="pt-br">

<head>
  <% include ../partials/head.ejs %>
</head>

<body>
        <div class="container">
                <div class="col-md-12">
                    <h2 id="ola">Consulte a precedência de algum remédio</h2>
                </div>
                <hr>
        
                <div id="top" class="row">
                <div class="col-md-4">
                    <h3>Insira o ID do remédio</h3>
                </div>
                        
                <div class="col-md-6">
                    <div class="input-group h2">
                        <input name="data[search]" class="form-control" id="search" type="text" placeholder="Pesquisar Itens">
                        </div>
                    </div>
                        
                    <div class="col-md-2">
                    <a href="add.html" class="btn btn-primary pull-right h2">Pesquisar</a>
                </div>

                <a href="../home/home.html"><button type="button" class=" qt btn btn-secundary" >Voltar</button></a>
            </div>
        </div>
            
    </body>

</html>