<!DOCTYPE html>
<html lang="pt-br">

<head>
  <% include ../partials/head.ejs %>
</head>

<body id="body-loaded">
        <div class="container">
                <div class="col-md-12">
                    <h2 id="ola">Consulte a precedência de algum remédio</h2>
                </div>
                <hr>
        
                <div id="top" class="row">
                <div class="col-md-4">
                    <h3>Insira o ID do remédio</h3>
                </div>

                <form class="col-md-8" name="posta" id="formUrl" method="post" target="_self">
                    <input type="hidden" style="display: none;" id="currentSharedData">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group h2">
                                <input name="idRemedio" class="form-control" id="idRemedio" type="text" placeholder="Digite o Código do Remédio">
                            </div>
                        </div>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary pull-right h2">Pesquisar</button>
                        </div>
                    </div>
                    
                </form>

                <a href="/"><button type="button" class="qt btn btn-secundary" >Voltar</button></a>

                <script>
                    // lá no tratamento do post transforma em json
                    // executa os métodos para atualizar o blockchain e lista de remédios
                    var currentSharedData = localStorage.getItem("currentSharedData");
                    $("#currentSharedData").val(currentSharedData);
                </script>
            </div>
        </div>
    </body>
</html>